<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VueJS Tutorials</title>
    <link href="style.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="vue-app">
    <h1>{{greet('Night')}}</h1>
    <a v-bind:href="website">The Net Ninja</a>
    <input type="text" v-bind:value="job"/>
    <p>Name: {{ name }}</p>
    <p>Job: {{ job }}</p>

    <h1>Events</h1>
    <button v-on:click="add(1)">Add a Year</button>
    <button v-on:click="subtract(1)">Subtract a Year</button>
    <button v-on:click="add(10)">Add 10 Year</button>
    <button v-on:click="subtract(10)">Subtract 10 Year</button>

    <p>My Age is {{ age }}</p>

    <label>Name :</label>
    <input type="text" v-model="name"/>
    <span>{{ name }}</span>
    <label>Age :</label>
    <input type="text" v-model="age"/>
    <span>{{ age }}</span>

    <h1>Dynamic CSS</h1>
    <h2>example</h2>
    <div v-on:click="available = !available" v-bind:class="{available:available}"></div>
        <span>Maria</span>
</div>
    <script src="app.js"></script>
</body>
</html> 